

.company-diagram-container {
    display: flex;
    height: 100vh; 
  }
  
  .diagram-wrapper {
    flex: 2; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    position: relative;
  }
  
  .large-diagram {
    width: 80%; 
    max-width: 400px; 
    margin: auto; 
  }
  
  .diagram-segment {
    cursor: pointer;
    transition: fill 0.3s ease;
  }
  
  .diagram-segment:hover {
    fill: #4f46e5; 
  }
  
  .diagram-center-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .company-name {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .company-website {
    font-size: 1rem;
    color: #1d4ed8;
    text-decoration: none;
  }
  
  .company-website:hover {
    text-decoration: underline;
  }
  .tooltip {
    display: inline-block;
    margin-left: 5px;
    color: green;
    font-weight: bold;
  }
  