.side-window {
  position: fixed;
  top: 80px; /* Adjust this value to match your header height */
  right: -33.33%;
  width: 33.33%;
  height: calc(90vh - 80px); /* Adjust to header height */
  background-color: #F7F9FF;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3);
  transition: right 0.3s ease;
  z-index: 1000;
}

.side-window.open {
  right: 0;
}

p {
  font-size: 1.3rem;
  margin-bottom: 20px;
  color: #555;
}
  
  .side-window-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #F7F9FF; 
  }
  
  .side-window-title {
    font-family: "Poppins-SemiBold", Helvetica;
    font-size: 1.5rem; 
    font-weight: bold; 
    color: black; 
  }
  
  .close-button {
    background: none;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
  }
  
  .side-window-content {
    padding: 20px;
    max-height: calc(90% - 50px); 
    overflow-y: auto; 
  }
  .side-window-title {
    color: black;
    font-weight: bold;
    font-family: "Poppins-SemiBold", Helvetica, sans-serif; 
  }
  