.company-list-container {
    width: 100%; /* Ensure the container is not wider than the screen */
    overflow-x: hidden; /* Prevent horizontal scrolling */
    padding: 0 16px; /* Add padding if necessary */
  }
  
  .expand-button {
    background: none;
    border: none;
    color: blue;
    cursor: pointer;
    padding-left: 5px;
    text-decoration: underline;
  }
  
  .expand-button:hover {
    color: darkblue;
  }
  