.company-list-container {
  width: calc(100% - 100px);
  overflow-x: hidden;
  padding-left: 100px;
  padding-top: 40px;
}

.tech-stack {
  cursor: pointer;
}

.MuiTableCell-root {
  cursor: default;
}

.MuiFormControl-root {
  display: flex; /* Aligns label and input vertically */
  flex-direction: column; /* Stacks them */
}

.MuiFormLabel-root {
  margin-bottom: 4px; /* Space between label and input */
}

.MuiInputBase-root {
  margin-top: 0; /* Remove any margin that might push dropdown down */
}

.MuiSelect-select {
  padding: 10px; /* Better spacing in the dropdown */
  display: flex; /* Align items inside the dropdown */
  align-items: center; /* Center items vertically */
}

.expand-button {
  background: none;
  border: none;
  color: blue;
  cursor: pointer;
  padding-left: 5px;
  text-decoration: underline;
}

.expand-button:hover {
  color: darkblue;
}

.CompanyName {
  cursor: pointer;
  text-decoration: underline;
}

.CompanyName:hover {
  cursor: pointer;
}
