.overlay {
  position: fixed; /* Position fixed to overlay other content */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  z-index: 1000; /* Ensure it's above other content */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

.results-list {
  position: relative;
  margin: 6% auto;
  width: 100%;
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-height: 300px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}
