* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: 'Poppins', sans-serif; /* Make sure you have included Poppins font */
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
}
